html,
body {
  height: 100%;
  overscroll-behavior-y: none;
  scroll-behavior: smooth;
}

.App {
  top: 0;
  left: 0;
  overflow: hidden;
  pointer-events: all;
}  

.scroll {
  position: fixed;
  height: calc(2500px + 100%);
}